.App{
  width: 100vw;
  height: 100vh;
  background: #faf9fb;
  overflow: hidden;
  

}
.App::-webkit-scrollbar {
  display: none;
}
/* Heder style  */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  height: 70px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  box-shadow: 0px 3px 20px rgba(0,0,0,0.1);
}
.logo{
  min-width: 40px;
  width: 50px;
}
.inputBox{
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 3px 20px rgba(0,0,0,0.19);
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 8px 15px;
  width: 130px;
}
.inputBox .searchIcon{
  color: #787a84;
  font-size: 20px;
}
.inputBox input{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: transparent;
  color: #787a84;
  padding-left: 8px;
  font-size: 16px;
  font-weight: 500;
}
.shoppingCart{
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
}
.shoppingCart .cart{
  font-size: 30px;
  color: #373848;
}
.shoppingCart .cart_content{
  width: 20px;
  height: 20px;
  background-color: #ff80bf;
  border-radius: 100%;
  min-width: 20px;
  min-height: 20px;
  position: absolute;
  top: -12px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.shoppingCart .cart_content p{
  font-weight: 500;
  color: white;
}
.profileContainer {
 display: flex;
 align-items: center;
}
.profileContainer .imgBox{
  width: 40px;
  height: 40px;
  min-width: 40px;
  background-color: #444;
  border-radius: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}
.profileContainer .imgBox .profilePic{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profileContainer .userName{
  font-size: 16px;
  margin-left: 8px;
  font-weight: 500;
  display: none;
  align-items: center;
}
.toggleMenu{
  transform: rotate(90deg);
}
.toggleMenu .toggleIcon{
  color: #373848;
  font-size: 34px;
}

/* Heder end  */


/* Bottom menu style */
.bottomMenu{
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: #d5d5d5;
  border-radius: 25px 25px 0 0;
  z-index: 101;
}
.bottomMenu ul{
  display: flex;
}
.bottomMenu ul li{
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 1;
}
.bottomMenu ul li a{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
}
.bottomMenu ul li a .icon{
  position: relative;
  display: block;
  text-align: center;
  line-height: 70px;
  transition: 0.5s;
}
.bottomMenu ul li a .icon .MuiSvgIcon-root{
  font-size: 26px;
  color: #373848;
}
.bottomMenu ul li.active a .icon{
transform: translateY(-26px);
}
.bottomMenu ul li.active a .icon .MuiSvgIcon-root{
  color: #faf9fb;
  transition: 0.5s;

}
.indicator{
  position: absolute;
  height: 60px;
  width: 60px;
  background:#ff80bf ;
  border-radius: 100vw;
  top: -50%;
  border: 6px solid #faf9fb;
  transition: 0.5s;
}
.indicator::before{
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  width: 18px;
  height: 18px;
  background: transparent;
  border-top-right-radius: 18px;
  box-shadow: 0px -10px #faf9fb;
}
.indicator::after{
  content: "";
  position: absolute;
  top: 50%;
  /* change */
  left: -20px; 
  width: 18px;
  height: 18px;
  background: transparent;
  border-top-right-radius: 18px;
  box-shadow: 0px -10px #faf9fb;
}
.bottomMenu ul li:nth-child(1).active ~.indicator{
transform: translateX(calc(60px * 0));
}
.bottomMenu ul li:nth-child(2).active ~.indicator{
  transform: translateX(calc(60px * 1));
  }
.bottomMenu ul li:nth-child(3).active ~.indicator{
  transform: translateX(calc(60px * 2));
  }
.bottomMenu ul li:nth-child(4).active ~.indicator{
  transform: translateX(calc(60px * 3));
  }
.bottomMenu ul li:nth-child(5).active ~.indicator{
  transform: translateX(calc(60px * 4));
  }
.bottomMenu ul li:nth-child(6).active ~.indicator{
  transform: translateX(calc(60px * 5));
  }
/* main sections */
main{
  width: 100%;
  height: auto;
  background-color: #faf9fb;
  margin-top: 70px;

}
.bannerContent{
  width: 100%;
  height: auto;
  padding: 10px;
  background: #faf9fb;
  padding-bottom: 100px;
  background: url(../src/Components/images/img/heroBg.png)
  no-repeat center;
  background-size: cover;
  background-color: #ff80bf;
  

}
.banner{
  width: 100%;
  height: 230px;
  border-radius: 10px;
  background: url(../src/Components/images/img/heroBg.png)
  no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  background-color: #ff80bf;
  padding: 0px 10px;
}
.deliveryPic{
  position: absolute;
  right: -0px;
  bottom: -80px;
  width: 240px;
}
.mainContainer{
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainContainer h3{
  font-size: 18px;
  font-weight: 500;
  color: #d84c92;
  font-weight: bold;
}
.mainContainer .bennar-tex{
  color: white;
}
.mainContainer p{
  font-size: 16px;
  width: 220px;
  color: #d84c92;
  margin: 5px 0;
}
.mainContainer p span{
  color: red;
  font-weight: bold;
}
.mainContainer a{
  background-color: #ff80bf;
  
  padding: 5px 20px;
  
  border-radius: 100vw;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  
}
.mainContainer a:hover{
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
/* dishContainer */
.dishContainer{
 width: 100%; 
 padding: 14px 0;
}
.menuCard{
  width: 100%;
}
.subMenuContainer,
 .viewAll{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.subMenuContainer h3{
  font-size: 16px;
  font-weight: 600;
  
}
.subMenuContainer .viewAll p{
  font-size: 16px;
  text-align: right;
  justify-content: space-between;
}
.subMenuContainer .viewAll i{
  background: #ff80bf;
  width: 20px;
  height: 22px;
  min-width: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.subMenuContainer .viewAll i .MuiSvgIcon-root{
  
  color: white;
}


.rowContainer {
  display: flex;
  align-items: center;
  /* atake hoi to .... */
  overflow-x: scroll !important;
  overflow-y: hidden;
  margin: 10px 0;
  padding: 10px 0;
}
.rowContainer::-webkit-scrollbar{
  display: none;
}
.rowMenuCard{
  width: 95px;
  min-width: 80px;
  height: 130px;
  border-radius: 5px;
  background:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
  transition: 0.5s;
  cursor: pointer;
  margin-right: 10px;
}
.rowMenuCard:hover,
 .rowMenuCard.active{
  background: #d84c92;

}
.rowContainer .imgBox{
  width: 80%;
  margin-top: -15px;

}
.rowMenuCard:hover .imgBox img,
 .rowContainer.active img{
 width: 95%;
 transition: 0.5s;

}
.rowMenuCard h3{
  font-size: 18px;
  transition: 0.5s;
}
.rowMenuCard:hover h3,
.rowMenuCard.active h3{
  color: white;

}
.loadMenu{
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 4px;
  background-color: #ff80bf;
  transition: 0.5s;
  color: white;
}
/* main End */
